<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$data_video.title}</title>
    <?php
      require_once "jssdk.php";
      $jssdk = new JSSDK("appid","wx4551d99c128182f4");
      $signPackage = $jssdk->GetSignPackage();
    $data = array(
    'appId' => $signPackage["appId"],
    'nonceStr' => $signPackage["nonceStr"],
    'timestamp' => $signPackage["timestamp"],
    'signature' => $signPackage["signature"]);
    ?>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
        var url=window.location.href;
        wx.config({
            debug:false,
            appId: '<?php echo $data["appId"];?>',
            timestamp: '<?php echo $data["timestamp"];?>',
            nonceStr: '<?php echo $data["nonceStr"];?>',
            signature: '<?php echo $data["signature"];?>',
            url:url,
            jsApiList: [
                "onMenuShareTimeline", //分享给好友
                "onMenuShareAppMessage", //分享到朋友圈
                "onMenuShareQQ",  //分享到QQ
                "onMenuShareWeibo" //分享到微博
            ]
        });
        wx.ready(function (){
            var shareData = {
                title: '{$data_video.title}',
                desc: '专业糖尿病知识和注射控糖交流平台',
                link: url,
                imgUrl: 'http://xt.quinnovare.cn{$data_video.img}'}; //最好是300x300以上的正方形
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    </script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="x-rim-auto-match" content="none" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" href="/index/styles.css" />
    <script type="text/javascript" src="/index/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="/index/css/mui.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <!-- 引入播放器 css 文件 -->
    <link href="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.css" rel="stylesheet">
    <!-- 如需在IE8、9浏览器中初始化播放器，浏览器需支持Flash并在页面中引入 -->
    <!--[if lt IE 9]>
    <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/ie8/videojs-ie8.js"></script>
    <![endif]-->
    <!-- 如果需要在 Chrome Firefox 等现代浏览器中通过H5播放hls，需要引入 hls.js -->
    <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/lib/hls.min.0.8.8.js"></script>
    <!-- 引入播放器 js 文件 -->
    <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
</head>

<style>
    body{background-color: #fff;}
</style>

<body>
<div class="wrapper">
    <div class="js-video">
        <div><video id="player-container-id" preload="auto" playsinline webkit-playinline x5-playinline></video></div>
    </div>
    <div class="title" style="width: 96%;margin: 0 auto;margin-top: 2%;">
        <span style="display:inline-block;width:100%;margin-top:2%;margin-left: 2%;"><b>{$data_video.title}</b></span>
        <p style="display:inline-block;margin-top:2%;margin-left: 2%;color: #979797;">{$data_video.present}</p>
    </div>
    <div class="pl">
        <span style="display:inline-block;margin-top:2%;margin-left: 4%;"><b>评论:</b></span>
        <ul id="list" class="mui-table-view" style="margin-top: 2%;font-size: 14px;">
            {if !empty($comments)}
            {foreach $comments as $value}
            <li class="mui-table-view-cell mui-media" v-for="item in items" style="border: none;">
                <a href="javascript:;" :data-guid="item.guid">
                    <img class="mui-media-object mui-pull-left" src="{$value.headimg}">
                    <div class="mui-media-body">
                        <div class="mui-ellipsis-1"><b>{$value.nickname}</b></div>
                        <div class="mui-ellipsis-2" style="float: left;">{$value.comment}</div>
                        <div class="mui-ellipsis-2" style="float: right;color: #979797;"><?php echo date('Y-m-d',$value['add_time']); ?></div>
                    </div>
                </a>
            </li>
            {/foreach}
            {/if}
        </ul>
    </div>
    <div style="height: 70px;"></div>
    <nav class="mui-bar mui-bar-tab" style="display: inline-block;background: none;">
        <form action="/index/index/submit_zskt" method="post">
            <ul>
                <li style="border:none;width:80%;float: left;margin-top: 1%;background: none;">
                    <input type="text" name="content" placeholder="发表评论">
                </li>
                <li style="border:none;width:20%;float: left;text-align: center;margin-top: 1%;background: none;">
                    <input type="hidden" name="video_id" value="{$data_video.id}" class="mui-btn mui-btn-primary"/>
                    <input type="submit" value="评论" class="mui-btn mui-btn-primary"/>
                </li>
            </ul>
        </form>
    </nav>
</div>
</body>
<script>
    var winWidth = document.body.scrollWidth; // 取窗口宽度

    $("video").attr("width",winWidth);
    var player = TCPlayer("player-container-id", { // player-container-id 为播放器容器ID，必须与html中一致
        fileID: "{$data_video.file_id}", // 请传入需要播放的视频filID 必须
        appID: "{$data_video.app_id}", // 请传入点播账号的appID 必须
        autoplay: false //是否自动播放
    });
</script>
</html>
